<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Thymeleaf</title>
</head>
<body>
	<h1 layout:fragment="header">Tool №3 for thinking — to me</h1>
	<div layout:fragment="content">
		<p> Our interests and point of view determine to a large extent what causal factors
			we consider important. What may be an important cause to us may not be important
			to someone else. We must not fool ourselves and think that we see only the
			"true" causes of things. We see the causes we are hunting for, and we reject as
			insignificant the causes that do not embrace our interests.
			For everything that happens there are many underlying causal factors. Every
			person will single out as most important the one that his own interests and
			knowledge pick out for him.</p>
		<p> For the prevention of accidents, some points of view may be more useful
			than others. But all points of view are useful in helping us (to) build up the fullest
			understanding of what happened and why. We must avoid the temptation to insist
			that any one point of view is "the" cause.</p>
		<p> So, whenever we start talking about the cause of something, we should add
			to me to our ideas to remind us that we are diagnosing causes from our own point
			of view, and there are many other possible points of view besides ours.</p>
	</div>
</body>
</html>
